service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SoapService" targetNamespace="https://salesforce-heroku-datasync.herokuapp.com/api/soap" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://salesforce-heroku-datasync.herokuapp.com/api/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <schema targetNamespace="https://salesforce-heroku-datasync.herokuapp.com/api/soap" xmlns="http://www.w3.org/2000/10/XMLSchema">
            <element name="UsernameToken">
                <complexType>
                    <sequence>
                        <element name="Username" minOccurs="0" maxOccurs="0" type="xsd:string" />
                        <element name="Password" minOccurs="0" maxOccurs="0" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="GetTableByNameRequest">
        <part name="request" type="xsd:string" />
    </message>
    <message name="GetTableByNameResponse">
        <part name="response" type="xsd:string" />
    </message>

    <message name="GetAllTablesRequest">
        <part name="request" type="xsd:string" />
    </message>
    <message name="GetAllTablesResponse">
        <part name="response" type="xsd:string" />
    </message>

    <portType name="SoapPort">
        <operation name="GetTableByName">
            <input message="tns:GetTableByNameRequest" />
            <output message="tns:GetTableByNameResponse" />
        </operation>
        <operation name="GetAllTables">
            <input message="tns:GetAllTablesRequest" />
            <output message="tns:GetAllTablesResponse" />
        </operation>
    </portType>

    <binding name="GetTableByName_Binding" type="tns:SoapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="GetTableByName">
            <soap:operation soapAction="GetTableByName" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:SoapService" use="encoded" />
                <soap:header message="tns:Headers" part="Token" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:SoapService" use="encoded" />
            </output>
        </operation>
    </binding>

    <binding name="GetAllTables_Binding" type="tns:SoapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="GetAllTables">
            <soap:operation soapAction="GetAllTables" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:SoapService" use="encoded" />
                <soap:header message="tns:Headers" part="Token" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:SoapService" use="encoded" />
            </output>
        </operation>
    </binding>

    <service name="SoapService">
        <documentation>WSDL File for SOAP Service</documentation>
        <port binding="tns:GetTableByName_Binding" name="SoapPort">
            <soap:address location="https://salesforce-heroku-datasync.herokuapp.com/api/soap" />
        </port>
        <port binding="tns:GetAllTables_Binding" name="SoapPort">
            <soap:address location="https://salesforce-heroku-datasync.herokuapp.com/api/soap" />
        </port>
    </service>

</definitions>
